.avatarOnProfile{
  height:300px;
  width:300px;

}
.ProfileRejectionContainer{
  background-color: grey;
  overflow: scroll;
}
.rejectionModal{
  text-align: center;
  background-color:grey;
  margin: 0;
  position: absolute;
  height:50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rejectionForm{
}
