body{
    overflow:hidden;

}
.avatarOnProfile{
  height:500px;
  width:500px;
  border-style: solid;
}
.ProfileRejectionContainer{
  background-color: #f5f5f5;
}
.rejection-modal{
  text-align: center;
  background-color:#0084b2;
  padding: 40px;
  margin: 0;
  position: absolute;
  height:60vh;
  width:30vw;
  border-radius: 20px;
  border-style: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rejection-modal h1{
    font-size: 5vh;
    margin-bottom: 5vh;
}
.rejection-modal button{
    width:10vw;
}
.rejection-modal button:hover{
    background-color: lightgray;
    width:50%;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}
.ModalButtons {
	-moz-box-shadow: 3px 4px 4px 0px #f0f7fa;
	-webkit-box-shadow: 3px 4px 4px 0px #f0f7fa;
	box-shadow: 3px 4px 4px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 3px #5b6178;
}
.ModalButtons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.ModalButtons:active {
	position:relative;
	top:1px;
}
.ModalInput {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 16px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 4px 4px 6px 1px rgba(0,112,249,1) , 2px 2px 8px 0 rgba(0,112,249,1) inset;
  box-shadow: 4px 4px 6px 1px rgba(0,112,249,1) , 2px 2px 8px 0 rgba(0,112,249,1) inset;
  text-shadow: 1px 1px 0 rgba(0,0,0,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.ModalHeader{
  text-shadow: 2px 2px 0 rgba(0,112,249,1) ;
  color: black;
}
.ModalError{
  text-shadow: 2px 2px 0 rgba(0,0,0,1) ;
  color: red;
}

/* .NavBar{
  display: inline-flex;
  vertical-align: middle;
  background-color: #1eb4e4;
  width: 105vw;
  border-style: solid;
  margin-left: -5vw;
height:90px;
}
.NavDiv{
  margin-left: 5vw;
  height: 80px;
  width:10vw;
  background-color: #1eb4e4;
  text-align: center;
line-height: 90px;;
}
.NavLog{
  position: absolute;
  left:84%
}
.NavToProfile{
  border-radius: 100%;
  height:5vh;
  width:5vw;
  border-style: solid;
  border-color: black;
  position: relative;
top: 50%;
transform: translateY(-50%);
}
.SignUp{

  background: url('https://cdn.geekwire.com/wp-content/uploads/2018/09/Flatiron-School_Classroom-1260x840.jpg')  no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

} */
.CredentialDiv{
  height:50vh;
  width:20vw;
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin: auto;
  background-color:  #1eb4e4;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.profileDiv{
  display: inline-flex;
  width: 105vw;
  height:100vh;
  margin-left: -5vw;
  background-color: #f1f1f1;

}
.left-profile{
  margin-top: 10vh;
  margin-left: 10vh;
  width:40vw;
  height:60vh;
  text-align: left;
  color:black;
}
.left-profile h1{
    font-size: 2em;
}
.rejectionsDiv{
  margin-top: 5vh;

  width:50vw;
  text-align: center;
}
.profileH1{
  margin: 3vh;
  color: rgba(255,255,255,.5);
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);

}

.rejection-header{
  color:black;
  margin-bottom: 5vh;
}
.rejectionButton {
	-moz-box-shadow:inset 0px -1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px -1px 0px 0px #ffffff;
	box-shadow:inset 0px -1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.rejectionButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.rejectionButton:active {
	position:relative;
	top:1px;
}
.avatarOnProfile{
    height:150px;
    width:150px;
    border-radius: 100px;
}
.login-form {
		width: 385px;
		margin: 100px auto;
        text-align: center;
        z-index: 999999;
	}
    .login-form form {

    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 3px 2px 2px 2px rgba(0.3, 0.3, 0.3, 0.3);
        padding: 30px;
        z-index: 999999;
        border-radius: 5px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .login-btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .input-group-addon .fa {
        font-size: 18px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }

    .home-container h1{
        text-align: center;
        padding: 0;
        margin:0;
        margin-top: 50px;
    }
    .leaderboard{
        width: 80%;
        margin:auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .leaderboard button{
        background-color: #cfcfcf;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        margin: auto;
    }
    .leaderboard button:hover{
        background-color: #9e9e9e;
    }
    .leaderboard-avatar{
        width:75px;
        height: 75px;
        border-radius: 100px;
        margin-right: 25px;
    }
    /* .SIB {
      position: absolute;
      left:94%;
      margin-top: 20px;
        -moz-box-shadow: 4px 6px 6px 1px #ffffff;
        -webkit-box-shadow: 4px 6px 6px 1px #ffffff;
        box-shadow: 4px 6px 6px 1px #ffffff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        background-color:#ffffff;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:#666666;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:3px 2px 0px #ffffff;
    }
    .SIB:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color:#f6f6f6;
    }
    .SUB{
      left:88%;
    } */
    .navbar{
        background-color: #0084b2;
        width:100%;
        padding-bottom: 0;
        margin-bottom: 0;
        z-index: 10;
        border:0;
        border-radius: 0;
    }
    .navbar-brand h2{
        color: #fff;
        margin: auto;
        top:0;
    }
    .navbar button{
        float: right;
        margin-top: 10px;
    }
    .navbar button:hover{
        background-color: lightgray;
    }
    .btn-outline-primary{
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-outline-secondary{
        margin-right: 20px;
    }


.form-container{
    z-index: 9999;
}
.container{

    width: 100%;
    height: 100vh;
}
.btn-success{
    width:50%;
    margin: auto;
}
.sec{
    width:50%;
    margin:auto;
    background-color: #0050cb;
    border:none;
}

.adminButtons{
  display: inline-flex;
  position: absolute;
}
#Num1{
  background: linear-gradient(to bottom, white, gold);
      color: black;
}
#Num2{
  background: #e2e2e2;
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
  background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);

}
#Num3{

  background: linear-gradient(to bottom, #be7023,#CD7F32);
      color: black;

}
.submit{
    margin-top: 5vh;
}
.rejection-form{
    height:100%;
     overflow-x: auto;

}
